.hero-wrapper {
  margin: 10px 0px;
  padding: 10px;
  background-color: rgba(198, 198, 198, 0.9);
}

td {
  vertical-align: middle;
}

.table-td-actions {
  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .my-spiner {
    position: absolute;
    right: 0px;
  }
}



@media (max-width: 576px) {

  .table-td-actions {
    flex-direction: column;

    button {
      margin: 4px 0px;
      padding: 2px 4px;
      font-size: 12px;
    }
  }
}