.header {
  background-color: #16191b;

  .my-nav-link {
    &:hover {
      color: #ffca2c !important;
    }

    &.link-active {
      transition: none;
      color: #ff9955 !important;
      border-bottom: 2px solid #ff9955;
    }
  }

  .my-social-list {
    @media (max-width: 992px) {
      & {
        display: flex;
        flex-direction: row;
        margin: 20px 0px;
      }
    }

    .my-social-li {
      a {
        transition: .2s;

        &:hover {
          color: #ffca2c !important;
        }
      }

    }
  }

}